/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 body {
    background: rgba(17,24,39,1.0);
    color: white;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
main {
    flex: 1 0 auto;
}
.box {
    border: 10px solid #009688;
    padding: 15px;
    margin: 15px;
}

.coloredBox {
    margin: 5px 1px;
    text-align: center;
    line-height: 50px;
    font-size: 28px;
    color: white;
    padding: 0px;
    text-shadow: 2px 2px #000;
    cursor: pointer;
}

.coloredBox:hover {
    font-size: 30px;
}

/* Left to right used to obfuscate the email */
.ltr-text {
   unicode-bidi: bidi-override;
   direction: rtl
}

/* Table styling */
div.material-table table tr td {
    color: white !important;
}

div.material-table .table-title {
    color: white !important;
}

div.material-table table th.sorting_asc,
div.material-table table th.sorting_desc {
    color: white !important;
}

div.material-table table th {
    font-size: 12px;
    font-weight: 500;
    color: #aeaeae !important;
    cursor: pointer;
    white-space: nowrap;
    padding: 0;
    height: 56px;
    padding-left: 56px;
    vertical-align: middle;
    outline: none !important;
}

div.material-table .table-footer {
    color: white !important;
}

div.material-table .table-footer label {
    color: white !important;
}

div.material-table .table-footer .material-pagination li a {
    color: white !important;
}

div.material-table table tbody tr:hover {
    background-color: #181f2a !important;
}

.card {
    background: #1e2836;
}

/* End Table styling */

/* Top navbar dropdown menu */
.dropdown-content {
    background-color: rgb(22 31 51);
}