<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="description" content="The imprint.">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>pStats - Imprint</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/stylesheets/materialize.min.css" type="text/css" rel="stylesheet"
          media="screen,projection"/>
    <link href="/stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>

<% include ../templates/navigation.ejs %>
<main>
    <div class="container">

        <div class="section no-pad-bot" id="index-banner">
            <div>
                <h1>Legal Disclosure</h1>
                Information in accordance with section 5 TMG<br>
                <h3>Contact</h3>
                <span class="ltr-text">&#x6F;&#x64;&#x72;&#x61;&#x6E;&#x6F;&#x4C;&#x20;&#x6F;&#x65;&#x74;&#x74;&#x61;&#x4D;</span><br>
                <span class="ltr-text">&#x74;&#x69;&#x2E;&#x76;&#x65;&#x64;&#x6F;&#x65;&#x74;&#x74;&#x61;&#x6D;&#x40;&#x6F;&#x66;&#x6E;&#x69;&#x20;&#x3A;&#x6C;&#x69;&#x61;&#x4D;&#x2D;&#x45;</span><br>
                <br>
                <h3>Disclaimer</h3>
                <h4>Accountability for content</h4>
                The contents of our pages have been created with the utmost care. However, we cannot guarantee the contents' accuracy, completeness or topicality. According to statutory provisions, we are furthermore responsible for our own content on these web pages. In this context, please note that we are accordingly not obliged to monitor merely the transmitted or saved information of third parties, or investigate circumstances pointing to illegal activity. Our obligations to remove or block the use of information under generally applicable laws remain unaffected by this as per §§ 8 to 10 of the Telemedia Act (TMG).<br>
                <br>
                <h4>Accountability for links</h4>
                Responsibility for the content of external links (to web pages of third parties) lies solely with the operators of the linked pages. No violations were evident to us at the time of linking. Should any legal infringement become known to us, we will remove the respective link immediately.<br>
                <br>
                <br><br>

            </div>
        </div>

    </div>
</main>
<% include ../templates/footer.ejs %>

<!-- Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/javascripts/materialize/materialize.min.js"></script>
<script src="/javascripts/materialize/init.js"></script>

<% include ../templates/globalScripts.ejs %>

</body>
</html>
